[Unit]
Description=Line in to Snapcast
Requires=network-online.target sound.target

[Service]
ExecStart=/usr/bin/sh -c 'sox -q -t alsa default -p silence 1 0.2 0.05% -1 60 0.05% | sox -q -p -t wav -r 48k -b 16 -c 2 - | nc 192.168.1.3 12345'
Restart=always

[Install]
WantedBy=multi-user.target